<div class=" container-fluid row">
    <div class="col-1" style="background-color: aqua;">
        <img [src]="cancion.album.cover_small">
    </div>
    <div class="col-2">
        <h4>{{ cancion.title }}</h4>
        <h5>{{ cancion.artist.name }}</h5>
    </div>
    <div class="col-5" style="background-color: aqua;">
        <button (click)="detener()">atras</button>
        <button (click)="reproducir()">play</button>
        <button (click)="detener()">adelante</button>
    </div>
    <div class="col-2" style="background-color: red;">
        <p>slider</p>
        <img src="" alt="">
    </div>
</div>